@use "../abstracts/" as *;

.projects-page {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 560px));
	gap: 65px 30px;
	grid-area: projects;
	margin-bottom: 40px;
	justify-content: center;

	@media (max-width: $lg) {
		padding: 25px;
		grid-template-columns: minmax(0, 560px);
	}
}
