@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

//Colour Sheet
$primaryColor: #5680e9;
$primaryColorText: #ffff;
$secondaryColor: #84ceeb;
$accentColor: #ff6f3c;
$accentColorMuted: #ff9f6c;
$backgroundColor: #ffff;
$textColor: #333333;

//Font Stacks
$primaryFontStack: "Montserrat", "Open Sans", apple-system, sans-serif;
$accentFontStack: "Crimson Text", Georgia, "Times New Roman", Times, serif;
