@use "../../scss/abstracts/" as *;

.button {
	@extend %buttonBase;
	display: flex;
	align-items: center;
	text-decoration: none;

	&:hover {
		@extend %buttonGlowBase;
	}

	svg {
		width: 40px;
	}
}
